In [22]:
import pandas as pd
print(pd.__version__)

import sqlalchemy
print(sqlalchemy.__version__)

2.2.3
2.0.37

In [23]:
df = pd.read_csv('taxi_zone_lookup.csv', nrows=1000)

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [24]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
print(pd.io.sql.get_schema(df, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [26]:
df_iter = pd.read_csv('taxi_zone_lookup.csv', iterator=True, chunksize=100000)

In [12]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [27]:
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [28]:
%time df.to_sql(name='taxi_zone_lookup',con=engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 67.4 ms

265

In [29]:
from time import time

In [30]:
while True:
    df = next(df_iter)
    t_start = time()

    #df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    #df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='taxi_zone_lookup',con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunck..., took %.3f seconds' % (t_end - t_start))

inserted another chunck..., took 0.066 seconds

StopIteration: